<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.3/dist/js/uikit-icons.min.js"></script>
        <script src="{{url_for('static', filename='elm-0.0.1.bin.js')}}"></script>
    </head>
    <body>
        <!-- VIEW -->
        <div id="elmclient"></div>

        <script>
            let elmApp = Elm.Main.init({
                node: document.getElementById("elmclient")
            });
            function App(elmApp) {
                let self = this;
                elmApp.ports.pong.subscribe(update => {
                    if (update.msg == "MakeSocket") {
                        self.sio = io.connect("http://localhost:5000");
                        // UPDATE
                        self.sio.on("update", function(update) {
                            if (update.msg[0] == "MULTIJOIN") {
                                elmApp.ports.ping.send({msg: "MULTIJOIN"});
                            } else if (update.msg[0] == "GOTPLAYERS") {
                                elmApp.ports.ping.send({
                                    msg: "GOTPLAYERS",
                                    players: update.msg[1]
                                });
                            } else if (update.msg[0] == "GOTGAMES") {
                                elmApp.ports.ping.send({
                                    msg: "GOTGAMES",
                                    games: update.msg[1]
                                });
                            } else if (update.msg[0] == "JOINED") {
                                elmApp.ports.ping.send({
                                    msg: "JOINED",
                                    playerName: update.msg[1]
                                });
                            } else if (update.msg[0] == "KICK") {
                                elmApp.ports.ping.send({msg: "KICK"});
                            } else if (["Rolled", "Move"].includes(update.msg)) {
                                elmApp.ports.ping.send(update);
                            } else if (update.msg[0] == "LOGOUT") {
                                window.location = "http://localhost:5000/logout";
                            }
                        });
                    } else if (update.msg == "LogMeOut") {
                        self.sio.emit("update", ["LOGOUT"]);
                    } else if (update.msg == "MakeBoard") {
                        self.sio.emit("update", ["MAKEBOARD"]);
                    } else if (update.msg == "JoinBoard") {
                        self.sio.emit("update", ["JOINBOARD", update.board]);
                    } else if (update.msg == "QuitGame") {
                        self.sio.emit("update", ["QUITGAME"]);
                    } else if (update.msg == "Refresh") {
                        self.sio.emit("update", ["REFRESH"]);
                    } else if (["Rolled", "Move"].includes(update.msg)) {
                        self.sio.emit("update", update);
                    }
                });
            }

            let app = new App(elmApp);
        </script>
    </body>
</html>
